@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fontes:
    Changa
    Poppins
    Inter
*/

/* HEADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

html{
    background-color: black;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 12rem;
}

header .logo{
    width: 102px;
    height: 102px;
}

header .squivy{
    width: 230px;
    height: 86px;
}
/* FIM HEADER */

/* LANDING PAGE / MAIN */
main .main{
    background-image: url('fundo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main .img{
    align-self: end;
}

.text{
    font-family: Changa;
    font-size: 36px;
    max-width: 480px;
}

.text img{
    width: 482px;
}

.text p{
    margin-bottom: 4rem;
    line-height: 1;
}

.saibamais{
    text-decoration: none;
    border: solid white 8px;
    padding: 5px 60px;
    font-weight: 600;
    font-size: 40px;
    border-radius: 10px;
}

.img img{
    width: 1112px;
}
/* FIM LANDING PAGE / MAIN */

section .hero{
    background-image: url('./img/Group\ 13.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 2;
    margin-top: -3rem;
    display: flex;
    justify-content: space-around;
}

.herotxt{
    padding-top: 3rem;
}